<app-spinner></app-spinner>

<div class="example-container" style="height: 100vh;"> 
  <mat-toolbar color="primary">

    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="abrirmenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button>      
      <img style="width: 41px;" src="{{logo}}"/>
      <span style="padding-left:8px;font-size:15px;font-weight:600">Tamizaje</span>
    </a>

    <span class="example-spacer"></span>

    <div fxShow="true" fxHide.lt-md="true" class="menu" >      
      <nav class="nav1">
        <ul>
            <li *ngFor="let m of menus">
              <a *ngIf="m.url=='/page/home'" (click)="clearLocalStore()" routerLink="{{m.url}}" class="opcion">{{m.nombre}}</a>
              <a *ngIf="m.url!='/page/home' && m.url!='/page/cerrar'" routerLink="{{m.url}}" class="opcion">{{m.nombre}}</a>
            </li>
        </ul>
      </nav>
    </div>

    <a id="closemenu" style="cursor: pointer;" (click)="closeLogin()">
      <div style="padding-top: 11px;margin: 0 0 -21px 0;text-align: center;"><mat-icon>logout</mat-icon></div> 
      <span style="font-size: 9px;">Cerrar sesión</span>
    </a>    
     
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="{{isshow}}" fxHide.gt-sm="true">
        
      <div>
        <div class="menu-header-bg">Menu</div>

        <div class="header-content flex">
          <img src="{{user}}" />
          <label>
            <h2>{{username}}</h2>
            <p>{{userdni}}</p>
          </label>
        </div>

        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
          <defs><path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" /></defs>
          <g class="parallax">
              <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
              <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
              <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
              <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
          </g>
        </svg>

      </div>

      <div fxLayout="column">
        
        <mat-accordion class="example-headers-align">
          <div hideToggle *ngFor="let m of menus">
                        
            <mat-expansion-panel *ngIf="m.url=='/page/home'" disabled="">
              <mat-expansion-panel-header style="background: #fff;">
                <mat-panel-title>
                  <a style="font-size: 15px;font-weight: 400;color: #0f0473;" class="menuvertical" *ngIf="m.url=='/page/home'" routerLink="{{m.url}}" (click)="clearLocalStore()">
                    <mat-icon>{{m.nombre}}</mat-icon>
                    {{m.nombre}}
                  </a>
                </mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
            
            <mat-expansion-panel *ngIf="m.url!='/page/home' && m.url!='/page/cerrar'">
              <mat-expansion-panel-header style="background: #fff;">
                <mat-panel-title>
                  <a style="font-size: 15px;font-weight: 400;color: #0f0473;" class="menuvertical" *ngIf="m.url=='/page/home'" routerLink="{{m.url}}" (click)="clearLocalStore()">
                    <mat-icon>{{m.nombre}}</mat-icon>
                    {{m.nombre}}
                  </a>
                </mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel>  
                       

            <mat-expansion-panel *ngIf="m.url=='/page/cerrar'" disabled="">
              <mat-expansion-panel-header style="background: #fff;">
                <mat-panel-title>
                  <a style="font-size: 15px;font-weight: 400;color: #0f0473;" class="menuvertical" (click)="closeLogin()">
                    <mat-icon>logout</mat-icon>
                    {{m.nombre}}
                  </a>
                </mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel> 

          </div>       
        </mat-accordion>

      </div>
    </mat-sidenav>

    <mat-sidenav-content style="background: #fff;" fxFlexFill>
      <router-outlet></router-outlet>
   </mat-sidenav-content>

  </mat-sidenav-container>

</div>