<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<section class="home" id="home">

    <div class="content">
        <h1 class="m-section__title">Bienvenido <span class="usuario" style="color: #ee4b06;">{{usuario}}</span></h1>
        <h1 class="m-section__title">Al SILAC</h1>
        <p class="m-section__parrafo">Somos una empresa referencial con 27 años de experiencia brindando soluciones de diagnóstica en el sector salud. Contamos con un equipo especializado de 33 Tecnólogos Médicos entrenados a nivel mundial en las diversas casas matriz.</p>
        <a target="_blank" href="https://www.sistemasanaliticos.com/" class="btnInicio">Sistemas Analiticos</a>
    </div>

    <div class="image">
        <img src="{{imgeinicio}}" alt="">
    </div>
</section>