<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<section class="home" id="home">

    <div class="content">
        <h1 class="m-section__title">Bienvenido <span class="usuario" style="color: #ee4b06;">{{usuario}}</span></h1>
        <h1 class="m-section__title">Al TAMIZAJE NEONATAL</h1>
        <p class="m-section__parrafo">El Instituto Nacional Materno Perinatal atiende anualmente alrededor de 17,000 nacimientos, siendo el centro de atención Materno Perinatal más grande del país y uno de los mayores de Latinoamérica, por lo que la necesidad de realizar el tamiz de las enfermedades metabólicas y hormonales más frecuentes era de mayor necesidad. A esto se suma que desde el año 2006 ha sido categorizado como un establecimiento III-2, el de mayor complejidad médico quirúrgico del sistema en este tema.</p>
        <!-- <a target="_blank" href="https://www.sistemasanaliticos.com/" class="btnInicio">Sistemas Analiticos</a> -->
    </div>

    <div class="image">
        <img src="{{imgeinicio}}" alt="">
    </div>
</section>